<section id="zukunftsprozess" class="home-section zukunftsprozess">
  <div class="row small-up-1 medium-up-2">
    <div class="column">
      <div class="cta">
        <h1>Willkommen!</h1>
        <p>Hier kannst DU deine Kirche der Zukunft mitgestalten</p>
        <p><%= link_to 'mehr erfahren', '#' %></p>
      </div>
    </div>
    <div class="column">
      <div class="blog-post">
        <%= image_pack_tag "media/images/blog_post.jpeg" %>
        <div class="teaser">
          Lorem ipsum dolor sit amet, consectetur adipisici elit
          <br>
          <%= link_to 'weiterlesen', '#' %>
        </div>
      </div>
    </div>
  </div>


  <div class="row small-up-1 medium-up-3">
      <div class="column">
        <a href="#" class="startpage_primary_button initiatives">
          Inspirationen

          <div class="small">Finden & beitragen</div>
        </a>
      </div>
      <div class="column">
        <a href="#" class="startpage_primary_button assemblies">
          Machwerke

          <div class="small">erkunden & mitgestalten</div>
        </a>

      </div>
      <div class="column">
        <a href="#" class="startpage_primary_button processes">
          konKreationen

          <div class="small">vorbereiten & verwirklichen</div>
        </a>
      </div>
    </div>
  </section>