<section id="zukunftsprozess" class="home-section zukunftsprozess">
  <div class="reveal" id="helpSectionModal" data-reveal="true"></div>
  <div class="container">
    <div class="row small-up-1 medium-up-2">
      <div class="column">
        <div class="cta">
          <h1>
            <span>
              <span class="blue">Kirche</span> <span class="green">gemeinsam</span> <span class="red">gestalten</span>
            </span>
          </h1>
          <p><span>Willkommen auf deiner Beteiligungsplattform für die Kirche von morgen.</span></p>
          <p><span><%= link_to "mehr erfahren #{icon('chevron-right', class: 'inline')}", '#', data: { open: 'helpSectionModal', open_url: "/help_sections/home" } %></span></p>
        </div>
      </div>
      <div class="column">
        <%- if recent_blog_post.present? %>
          <div class="blog-post">
            <%- if recent_blog_post.hero_image.attached? %>
              <%= image_tag recent_blog_post.attached_uploader(:hero_image).variant_path :medium %>
            <%- end %>
            <div class="teaser">
              <%= truncate(recent_blog_post.title, length: 50) %>
              <div class="text-right">
                <%= link_to "weiterlesen #{icon('chevron-right', class: 'inline')}", post_path(recent_blog_post) %>
              </div>
            </div>
          </div>
        <%- end %>
      </div>
    </div>



    <div class="row small-up-1 medium-up-3 buttons">
        <div class="column">
          <a href="/ideas" class="startpage_primary_button ideas">
            Inspirationen

            <div class="small">finden & beitragen</div>
          </a>
        </div>
        <div class="column">
          <a href="/assemblies" class="startpage_primary_button assemblies">
            Machwerke

            <div class="small">erkunden & mitgestalten</div>
          </a>

        </div>
        <div class="column">
          <a href="/processes" class="startpage_primary_button processes">
            konKreationen

            <div class="small">vorbereiten & verwirklichen</div>
          </a>
        </div>
      </div>
    </div>
  </section>
