%link{:href => '/apple-touch-icon.png', :rel => 'apple-touch-icon', :sizes => '180x180'}
%link{:href => '/favicon-32x32.png', :rel => 'icon', :sizes => '32x32', :type => 'image/png'}
%link{:href => '/favicon-16x16.png', :rel => 'icon', :sizes => '16x16', :type => 'image/png'}
%link{:href => '/site.webmanifest', :rel => 'manifest'}

- return unless Rails.env.production?

/ Matomo
:javascript
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://matomo.systeme-e.de/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '302']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
/ End Matomo Code
