%p
  Zukunftsprozess

%p
  Evangelisch-lutherische Landeskirche Hannovers

%p
  Goethestr. 29
  %br
  30169 Hannover


%p
  Mobil: 0151/ 72476923
  %br
  Tel.: 0511/ 1241 - 988


%p
  E-Mail: zukunftsprozess@evlka.de
  %br
  Instagram: @zukunftsprozess
