.card
  .card__content
    .card-divider
      %h2.card-title
        = t('title', scope: 'ema.email_exports.admin.index')


    .card-section
      %p
        = t('description', scope: 'ema.email_exports.admin.index')
      = link_to t('new_email_export', scope: 'ema.email_exports.admin.index'), new_post_path, class: 'button'
