// This is a file that can be overridden by the application in order to override styles
// Notice that this file is included at the very end of the stylesheets packs to have
// more priority
//
// To override CSS variables or Foundation settings use _decidim-settings.scss
//
// By default this is empty.

@import './zukunftsprozess/startpage';
@import './zukunftsprozess/blog_posts';
@import './zukunftsprozess/buttons';

.header {
  box-shadow: 0 5px 5px rgba(black, .25);
}

.decidim-accessibility-badge {
  display: none !important;
}

.process-header{
  background-image: none;

  .process-header__main {
    clip-path: none;
  }
}

:root {
  color-scheme: light only;
}

.card--initiative, .card--proposal, .card--assembly, .card--process {
  .card__footer {
    display: none;
  }
}

.card--process__column {
  a.button {
    display: none;
  }
}

.card__content {
  a {
    color: var(--secondary);
    font-weight: 600;

    &:hover {
      color: var(--secondary);
    }
  }
}

a {
  color: var(--secondary);
  font-weight: 600;

  &:hover {
    color: var(--secondary);
  }
}

.card__image{
  width: 100%;
  max-height: 15rem;
  min-height: 10rem;
  object-fit: cover;

  // &.card__image--smaller{
  //   max-height: 5rem;
  // }

  // &.card__image--larger{
  //   max-height: 20rem;
  //   min-height: 10rem;
  // }
}

.process-header__inner {
  @include breakpoint(mediumlarge){
    height: 300px;
  }
  
  @include breakpoint(small) {
    height: 200px;
  }

  .process-header__main {
    background-repeat: no-repeat;
    background-position: center;
  }

  .process-header__hashtag a {
    color: $white;
  }
}

.wrapper {
  background-color: white;

  @include breakpoint(mediumlarge){
    margin: 20px;
  }
  
  @include breakpoint(small) {
    margin: 5px;
  }

  // margin-top: 500px !important;
}

.off-canvas-wrapper {
  background-color: #e5e7ea;

  &.assemblies {
    background-color: #70ab37;

    // background-image: url("~images/startpage_bg.png");
    // background-repeat: no-repeat;
    // background-size: auto; 
    // background-position: center -500px;
  }
  &.initiatives {
    background-color: #d61b72;
  }
  &.processes {
    background-color: #1293ba;
  }
  &.start {
    background-color: $white;
  }

  // &.processes, &.assemblies, &.initiatives, &.posts, &.pages {
  //   .content-wrapper {
  //     @include grid-row;

  //     section {
  //       background-color: $white;
  //     }
  //   }
  // }
}


// remove overlay from process header
.process-header__main::after {
  background-color: transparent;
}
