// This is a file that can be overridden by the application in order to override styles
// Notice that this file is included at the very end of the stylesheets packs to have
// more priority
//
// To override CSS variables or Foundation settings use _decidim-settings.scss
//
// By default this is empty.

$zp_gray: #DEE2E6;
$zp_gray_medium: lighten($zp_gray, 3%);
$zp_gray_light: lighten($zp_gray, 7%);

$light_gray: #f4f4f4;

@import './zukunftsprozess/startpage';
@import './zukunftsprozess/blog_posts';
@import './zukunftsprozess/buttons';
@import './zukunftsprozess/ideas';
@import './zukunftsprozess/processes';
@import './zukunftsprozess/lockup';
@import './zukunftsprozess/static_pages';

html, body {
  text-transform: none !important;
}

.header {
  box-shadow: 0 5px 5px rgba(black, .25);
}

.decidim-accessibility-badge {
  display: none !important;
}

:root {
  color-scheme: light only;
}

.card--idea,
.card--proposal,
.card--assembly,
.card--process,
.card--collaborative_draft,
.card--debate,
.card--meeting,
.card--budget,
.card--project,
.card--post,
.card--user,
.card--user_group,
.card--comment {
  .card__footer {
    display: none;
  }
}

.card--process__column {
  a.button {
    display: none;
  }
}

.card__content {
  a {
    color: var(--secondary);
    font-weight: 600;

    &:hover {
      color: var(--secondary);
    }
  }
}

a, a.card__link {
  color: var(--secondary);
  font-weight: 600;

  &:hover {
    color: var(--secondary);
  }
}

.card__image:not(.badge__logo--small):not(.badge__logo) {
  width: 100%;
  max-height: 15rem;
  min-height: 10rem;
  object-fit: cover;
}

// remove overlay from process header
.process-header__main::after {
  background-color: transparent;
}

.data-picker.picker-single .picker-values div a, .data-picker .picker-prompt a {
  border-radius: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;

  &:hover {
    text-decoration: none;
  }
}

.section-heading {
  text-transform: none;
  letter-spacing: 0;
  border: none;

  // remove balken
  &:before {
    display: none;
  }
}

.text-uppercase {
  text-transform: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.follow-button {
  // padding-top: 0.5rem;
  // padding-bottom: 0.5rem;

  font-size: 0.9rem;

  .icon-wrap {
    padding: 0.5rem;
    min-width: 2.5rem;
  }

  .icon {
    width: 12px;
    height: 12px;
  }
}


#participatory-space-filters{
  display: block;
  padding: 0;
  margin-bottom: 2rem;

  form {
    display: block;
  }

  select {
    width: 100% !important;
  }
}

.card {
  &.warning, &.success, &.alert, &.mutetd {
    border: 1px solid #e8e8e8;
  }
}

.card__text {
  .badge {
    border-radius: 0;
    margin: 0 0 .5rem 0;
    line-height: 1;

    &.card__text--status{
      text-transform: none;
      color: white;
    }
  }
}

.card__icondata {
  font-size: .9em;
}

ul.card-data {
  li.card-data__item {
    text-transform: unset;
    letter-spacing: 0;

    strong {
      font-size: 1em;
      text-transform: unset;
      letter-spacing: 0;
    }

    border: none;

    .icon-wrap span {
      font-size: 80%;
      vertical-align:text-top;
    }

    svg {
      color: #726a70;
      height: 1.2rem;
      width: 1.2rem;
      margin-right: .25rem;
    }

    &.creation_date_status {

      strong {
        text-transform: none;
        letter-spacing: 0;
        font-size: 1em;
      }
      font-size: .7em;
      line-height: .6 !important;
    }
  }
}

// fix wizard steps color
.wizard__steps {
  li, .step--active ~ li  {
    color: var(--secondary);
    border-color: var(--secondary);

    &::before {
      background-color: var(--secondary);
    }
  }
  .step--active {
    color: var(--secondary);
  }
}

// all badges rectangular
.badge {
  border-radius: 0;
}

// we don't really need option to order
// .comments {
//   .order-by__dropdown {
//     display: none;
//   }
// }

.register-form {
  #card__tos, #card__newsletter {
    text-align: left;

    label {
      line-height: .5;
    }
  }

  .tos-text {
    font-style: normal;
    text-align: left;
  }
}

// floating help opens in modal
#helpSectionModal {
  .help_section_modal_header {
    h2 {
      font-family: 'Literata', sans-serif;
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }
  }

  .help_section_modal_content {
    p {
      margin: .5rem 0;
    }
  }
}

// fix color for dots in phase-indicator
.process-header__progress {
  .phase-current {
    text-transform: none;
  }
  .phase-item--past {
    span {
      background-color: var(--secondary);
    }
    &::after {
      background-color: var(--secondary);
    }
  }
}


// timeline opens in modal
#stepsModal {
  .timeline__item--current  {
    .timeline__header, .timeline__phase {
      background-color: var(--secondary);
    }

    .timeline__info {
      border-color: #e8e8e8;
    }
  }
}

// fix search filter colors and design
.search-filters {
  a, a > .section-title {
    color: var(--secondary) !important;
  }
}

.filters {
  display: block;
  padding: 0;

  fieldset {
    margin-bottom: 0;
  }

  .filters__section {
    label {
      color: $black !important;
    }
  }
}

.accordion-item {
  .accordion-title::before {
    font-size: 24px;
    margin-top: -12px;
  }
  a {
    color: black;
    text-decoration: none;
    background-color: $white;

    &:hover {
      color: black;
      background-color: $light_gray;
    }
  }

  &.is-active {
    a {
      color: $white;
      background-color: var(--secondary);
      border: 1px solid var(--secondary);
    }
  }

}

.callout.secondary {
  background-color: $light_gray;
  border-left: 8px solid var(--secondary);
}

.upload-modal {
  .upload-items {
    .upload-item {
      .progress-bar-wrapper {
        .progress-bar-border {
          border: 1px solid var(--secondary);

          .progress-bar, &.filled {
            background-color: var(--secondary);
          }
        }
      }
    }
  }
}





// name specific
#profile-tabs{
  // Override foundation
  &.tabs{
    border: none;

    .tabs-title{
      &.is-active{
        a{
          color: var(--secondary);
          border-bottom: 3px solid var(--secondary);
        }
      }

      a{
        color: var(--secondary);

        &:focus,
        &[aria-selected="true"]{
          color: var(--secondary);
          border-bottom: 3px solid var(--secondary)
        }

        &:hover{
          text-decoration: none;
          border-bottom: 3px solid var(--secondary);
        }
      }
    }
  }
}

.responsive-tab-block{
  @media only screen and (max-width: 639px){
    & > ul.tabs{
      & > li{
        &.is-active{
          &::before{
            border-top: 5px solid var(--secondary);
          }
        }

        & > a{
          border-bottom: 3px solid transparent;
          color: green;
        }
      }
    }
  }
}

#card__tos {
  fieldset {
    margin: 0;
  }
}

#card__newsletter {
  fieldset {
    margin: 0;
  }
}

.card--assembly, .card--process {
  .card__status {
    display: none;
  }
}

.ql-snow.ql-toolbar button, .ql-snow .ql-toolbar button {
  width: auto;
}

.assemblies, .processes {
  .columns.section.view-side {
    .row.collapse.buttons__row {
      display: block;

      .column.small-9.collapse, .column.small-12.collapse {
        float: none;
        display: block;
        width: 100%;

        margin-bottom: 1rem;

        .button:first-child {
          padding: 1rem;
          min-width: 40px;
          margin-right: .5rem;
        }
      }

      .column.collapse.small-3 {
        float: none;
        display: block;
        width: 100%;
        margin: 0;
      }
      // background-color: red;
    }

  }
}

.hero-image {
  .actions-wrapper {
    margin-top: .5rem;
  }

  strong {
    font-weight: normal;
    font-size: .9rem;
  }
}

.attachments_container {

  legend {
    font-size: .9rem;
  }
  .actions-wrapper {
    // margin-top: .5rem;


    button {
      padding: .85rem .5rem;
    }
  }
}

.label-required.has-tip {
  margin-bottom: 0;
  padding: 0;
  line-height: 1;

  span {
    line-height: 1;
  }
}


::placeholder{
  color: gray;
  font-size: .9rem;
}

.author-data--small {
  display: inline;
  float: left;
}

.publish-date {
  font-size: 0.9em;

  @media print, screen and (max-width: 64em) {
    padding-left: 1.5rem;
  }

  @media print, screen and (min-width: 64em) {
    &:before {
      content: "";
      margin-right: 0.8rem;
      border-right: 1px solid #e8e8e8;
      height: 0.7rem;
      display: inline-block;
      vertical-align: middle;
    }
  }
}


.upload-modal {
  .copyright-notice {
    margin: 1rem 0 2rem;
    font-weight: 600;
  }
}

.mini-footer {
  .logo {
    margin-top: .5rem;
    margin-bottom: .5rem;
    display: inline;
  }

  .cc-logo, .decidim-logo {
    float: left;
  }

  .cc-logo {
    margin-right: 2rem;
  }

  .laki-logo {
    @include breakpoint(medium) {
      float: right;
    }


    @include breakpoint(small) {
      float: left;
      margin-bottom: 3rem;
    }
  }
}

.main-footer, .mini-footer {
  color: white;

  a {
    color: white;
  }
}

.laki-logo {
  img {
    width: 250px;
  }
}

.decidim-logo {
  img {
    width: 100px;
  }
}
