// This is a file that can be overridden by the application in order to override styles
// Notice that this file is included at the very end of the stylesheets packs to have
// more priority
//
// To override CSS variables or Foundation settings use _decidim-settings.scss
//
// By default this is empty.

@import './zukunftsprozess/startpage';
@import './zukunftsprozess/blog_posts';
@import './zukunftsprozess/buttons';
@import './zukunftsprozess/ideas';

.header {
  box-shadow: 0 5px 5px rgba(black, .25);
}

.decidim-accessibility-badge {
  display: none !important;
}

.process-header{
  background-image: none;

  .process-header__main {
    clip-path: none;
  }
}

:root {
  color-scheme: light only;
}

.card--idea, .card--proposal, .card--assembly, .card--process {
  .card__footer {
    display: none;
  }
}

.card--process__column {
  a.button {
    display: none;
  }
}

.card__content {
  a {
    color: var(--secondary);
    font-weight: 600;

    &:hover {
      color: var(--secondary);
    }
  }
}

a, a.card__link {
  color: var(--secondary);
  font-weight: 600;

  &:hover {
    color: var(--secondary);
  }
}

// .card__link {
//   color: var(--secondary);
// }

.card__image{
  width: 100%;
  max-height: 15rem;
  min-height: 10rem;
  object-fit: cover;

  // &.card__image--smaller{
  //   max-height: 5rem;
  // }

  // &.card__image--larger{
  //   max-height: 20rem;
  //   min-height: 10rem;
  // }
}

.process-header__inner {
  @include breakpoint(mediumlarge){
    height: 300px;
  }

  @include breakpoint(small){
    min-height: 200px;
  }

  .process-header__main {
    background-repeat: no-repeat;
    background-position: center;
  }

  .process-header__hashtag a {
    color: $white;
  }
}

.off-canvas-wrapper {
  background-color: #e5e7ea;

  &.assemblies {
    background-color: #76b82a;
  }
  &.ideas, &.create_idea {
    background-color: #00b5e5;

    .collection-sort-controls {
      color: $black;

      a, a:focus, a.active {
        color: $black !important;

        &::after {
          border-color: $black transparent transparent !important;
          border-top-color: $black !important;
        }
      }
    }

    .results-per-page__dropdown {
      a {
        background-color: transparent !important;
      }

    }
  }
  &.processes {
    background-color: #551285;

    label {
      color: $white;
    }

    .order-by__tabs {
      color: $white;

      .order-by__tab {
        color: $white;
      }

      &:hover {
        color: $white;
      }
    }
  }
  &.start {
    background-color: $white;
  }

  &.assemblies, &.ideas {
    h1.section-heading, h3, label {
      color: black;
    }

    hr {
      border-bottom: 1px solid black;
    }
  }

  &.processes, &.assemblies, &.ideas, &.create_idea {
    .wrapper {
      background-color: $white;

      @include breakpoint(mediumlarge){
        margin: 20px;
      }

      @include breakpoint(small) {
        margin: 5px;
      }
    }
  }

  &.processes, &.assemblies, &.ideas {
    &.listing {
      .wrapper {
        background-color: transparent;
        color: $white;
        margin: 0;
      }

      .with_scope_scopes_picker_filter {
        legend {
          color: $white;
          text-transform: none;
          letter-spacing: 0;
          display: none;
        }
      }
    }
  }
}

.floating-helper__content {
  background-color: transparent;
  color: $black;
  border: none;
  max-width: 500px;
  padding: 0;

  p {
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
    line-height: 3rem;

    span {
      padding: 0 0.5rem;
    }
  }

  h2 {
    font-family: 'Literata', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;

    span {
      padding: 0 0.5rem;
    }
  }

  p, h2 {
    span {
      background: rgba(255, 255, 255, 0.8);
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
    }

    a {
      // font-size: 1.8rem;
      // font-weight: 500;
      margin-top: 2rem;

      &::before {
        content: "\A";
        white-space: pre;
      }
    }
  }
}

// remove overlay from process header
.process-header__main::after {
  background-color: transparent;
}


.data-picker.picker-single .picker-values div a, .data-picker .picker-prompt a {
  border-radius: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;

  &:hover {
    text-decoration: none;
  }
}

.section-heading {
  text-transform: none;
  letter-spacing: 0;
  border: none;

  // remove balken
  &:before {
    display: none;
  }
}

.text-uppercase {
  text-transform: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.process-nav__content {
  ul {
    li:first-child {
      @include breakpoint(small down){
        display: none;
      }
    }
  }
}

.follow-button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  font-size: 0.9rem;

  .icon-wrap {
    padding: 0.5rem;
    min-width: 2.5rem;
  }

  .icon {
    width: 12px;
    height: 12px;
  }
}


.filters{
  display: block;
  padding: 0;
  margin-bottom: 5rem !important;

  form {
    display: block;
  }

  select {
    width: 100% !important;
  }
}

.card {
  &.warning, &.success, &.alert, &.mutetd {
    border: 1px solid #e8e8e8;
  }
}

.card__text {
  .badge {
    border-radius: 0;
    margin: 0 0 .5rem 0;

    &.card__text--status{
      text-transform: none;
      color: white;
    }
  }
}

ul.card-data {
  li.card-data__item {
    border: none;
  }
}
