.help_section_modal_header
  %h2 Schritte
  %button.close-button{"aria-label" => t(".buttons.close_modal"), "data-close" => "", :type => "button"}
    %span{"aria-hidden" => "true"} ×
.help_section_modal_content
  - add_decidim_page_title(t("participatory_process_steps.index.title", scope: "decidim"))
  .steps
    .row.column
      .row
        .columns
          .section
            = render partial: "timeline"
