<span class="icon-wrap">
  <%= icon "comment-square" %>
  <span aria-hidden="true"><%= comments_count %></span>
  <span class="show-for-sr"><%= t("decidim.comments.comments_count", count: comments_count) %></span>
</span>
