<%- return if request.path[1..-1].split('/').size > 1 %>

<div class="floating-helper-container" data-help-id="floating-help-<%= id %>">
  <div id="floating-helper-block" class="floating-helper__wrapper row column" data-toggler=".hide">
    <div class="floating-helper__content">
      <div class="floating-helper__content-inner">
        <div>
          <p>
            <span>
              <%= strip_tags(content) %>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>