$button-color: #FEF166;

#content, .reveal-overlay {
  a.button-primary,
  a.startpage_primary_button,
  a.like-button,
  a.title-action__action,
  button.title-action__action,
  .actions > a.button:not(.secondary),
  form:not(.button_to) > button[type=submit]:not(.secondary),
  .actions > button[type=submit]:not(.secondary),
  .field > button[type=submit]:not(.secondary),
  .show-more > button,
  .download-your-data .button_to .button,
  .delete-account .button,
  .edit_user .button,
  #start-conversation-dialog-button,
  form#new_message_ .button,
  .hero-image button.add-file,
  button.add-file-hero_image,
  button.add-file-documents,
  .confirm-modal-footer .button:not(.clear) {
    background-color: $button-color;
    border: 0 solid #E5E7EB;
    border-radius: 0;
    box-sizing: border-box;
    color: $black;

    font-weight: 700;
    justify-content: center;
    line-height: 1.5rem;
    padding: .75rem .75rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-transform: none;
    letter-spacing: 0;

    &:hover {
      color: $black;
    }

    &:focus {
      outline: 0;
    }

    &:after {
      content: '';
      position: absolute;
      border: 1px solid $black;
      bottom: 5px;
      left: 5px;
      width: calc(100%);
      height: calc(100%);

      transition: bottom .2s, left .2s;
    }

    &:hover:after {
      bottom: 0px;
      left: 0px;
    }
  }

  @media (min-width: 768px) {
    a.primary_button {
      padding: 2rem 1rem;
      font-size: 1.6rem;

      & div.small {
        margin-top: .3rem;
        font-size: 0.9rem;
        font-weight: 500;
      }
    }
  }

  // a.button, button.button {
  //   background-color: $button-color;
  // }



  a.button.hollow {
    border: 1px solid $button-color;
  }

  button.follow-button:not(.card__button), .button.secondary.small, a.button.secondary.follow-button {
    padding: .75rem 0;

    .icon-wrap {
      position:unset;


      border: none;
      margin: 0;
    }

    .text-wrap {
      display: inline;
      margin: 0;
    }
  }



  // button.follow-button {
  //   // border: 1px solid $button-color;

  //   // &:hover {
  //   //   background-color: $button-color;
  //   // }
  //   .icon-wrap {
  //     border: none !important;
  //   }
  // }

  button.secondary:not(.card__button),
  a.button.secondary,
  button.secondary.active,
  a.button.button--sc:not(.hero-cta),
  .buttons__row .button,
  button.calendar,
  .columns.section.view-side .button_to button.button,
  a.button.follow-button,
  .upload-container-for-documents button {
    background-color: transparent;
    color: var(--secondary);
    filter: brightness(100%);
    position: relative;

    border: none;
    transition: background-color .2s;

    &:hover {
      background-color: $button-color;
      transition: background-color .2s;
      // left: 0px;
      // top: 0px;

      // padding-top: 15px;
      // padding-bottom: 15px;
    }

    // &:focus {
    //   background-color: $button-color;
    // }


    &:before {
      content: '';
      position: absolute;
      left: 0px;
      top: 0px;
      background-color: transparent;

      border-left: 4px solid $button-color;
      border-bottom: 4px solid $button-color;

      width: calc(100%);
      height: calc(100%);
    }

    // &:hover:before {
    //   border-left: 0px solid $button-color;
    //   border-bottom: 0px solid $button-color;

    //   transition: border-left .5s, border-bottom .5s;
    // }

    &:after {
      content: '';
      position: absolute;
      background-color: transparent;
      border: 1px solid #ffe900;

      top: -5px;
      right: -5px;
      width: calc(100% + 1px);
      height: calc(100% + 1px);

      transition: top .2s, right .2s;
    }

    &:hover:after {
      top: 0px;
      right: 0px;


    }
  }

  button.follow-button:not(.card__button), .button.secondary.small, a.button.follow-button {
    &:before {
      border-left: 3px solid $button-color;
      border-bottom: 3px solid $button-color;
    }

    &:after {
      top: -4px;
      right: -4px;
    }

    &:hover:after {
      top: 0px;
      right: 0px;
    }

  }
}

a.button, button.button {
  color: $black !important;
  text-transform: none !important;
}


.hide-more > button {
  display: none;
}


.section-heading > a.text-small {
  display: none;
}

.opinion-toggle.button-group {
  margin: 0;

  button {
    background-color: $button-color;
    color: var(--secondary) !important;

    &[aria-pressed="true"] {
      // background-color: var(--secondary);
      border: 1px solid var(--secondary);
      color: var(--secondary) !important;
    }
  }
}

.opinion-toggle-info {
  font-size: 90%;
}

.comment__content {
  span {
    display: inline;
    float: left;
  }
}
