.off-canvas-wrapper.ideas {
  .card--idea {
    .author-data {
      display: none;
    }
  }

  .columns.filter {
    padding-left: 0;
  }
}


.filters__section.with_any_state_check_boxes_tree_filter {
  display: none;
}
