// Remove geometric form over banner-image
.process-header{
  background-image: none;

  .process-header__main {
    clip-path: none;
  }
}

// increase height of banner image
.process-header__inner {
  @include breakpoint(mediumlarge){
    height: 500px;
  }

  @include breakpoint(small){
    min-height: 250px;
  }

  .process-header__main {
    background-repeat: no-repeat;
    background-position: center;
  }

  .process-header__hashtag a {
    color: $white;
  }
}

// color and design for different processes
.off-canvas-wrapper {
  background-color: $white;

  &.assemblies {
    background-color: #76b82a;

    main {
      @include breakpoint(small){
        background-image: url("~images/assemblies_640.jpg");
        background-position: center 30px;
      }

      @include breakpoint(medium){
        background-image: url("~images/assemblies_1024.jpg");
        background-position: center 30px;
      }

      @include breakpoint(large){
        background-image: url("~images/assemblies_1200.jpg");
        background-position: center 30px;
      }

      @include breakpoint(xlarge){
        background-image: url("~images/assemblies_1440.jpg");
        background-position: center 30px;
      }

      @include breakpoint(xxlarge){
        background-image: url("~images/assemblies_2560.jpg");
        background-position: center 30px;
      }
    }
  }

  &.ideas, &.create_idea {
    background-color: #00b5e5;
  }

  &.ideas {
    main {
      @include breakpoint(small){
        background-image: url("~images/ideas_640.jpg");
        background-position: center 30px;
      }

      @include breakpoint(medium){
        background-image: url("~images/ideas_1024.jpg");
        background-position: center 30px;
      }

      @include breakpoint(large){
        background-image: url("~images/ideas_1200.jpg");
        background-position: center 30px;
      }

      @include breakpoint(xlarge){
        background-image: url("~images/ideas_1440.jpg");
        background-position: center 30px;
      }

      @include breakpoint(xxlarge){
        background-image: url("~images/ideas_2560.jpg");
        background-position: center 30px;
      }
    }

    .collection-sort-controls {
      color: $black;

      a, a:focus, a.active {
        color: $black !important;

        &::after {
          border-color: $black transparent transparent !important;
          border-top-color: $black !important;
        }
      }
    }

    .results-per-page__dropdown {
      a {
        background-color: transparent !important;
      }

    }
  }

  &.processes {
    background-color: #551285;

    main {
      @include breakpoint(small){
        background-image: url("~images/processes_640.jpg");
        background-position: center 30px;
      }

      @include breakpoint(medium){
        background-image: url("~images/processes_1024.jpg");
        background-position: center 30px;
      }

      @include breakpoint(large){
        background-image: url("~images/processes_1200.jpg");
        background-position: center 30px;
      }

      @include breakpoint(xlarge){
        background-image: url("~images/processes_1440.jpg");
        background-position: center 30px;
      }

      @include breakpoint(xxlarge){
        background-image: url("~images/processes_2560.jpg");
        background-position: center 30px;
      }
    }

    .filters {
      label {
        color: $white;
      }
    }

    .order-by__tabs {
      .muted {
        color: $white;
      }

      .order-by__tab {
        color: $white;
      }

      &:hover {
        color: $white;
      }
    }
  }

  &.start {
    background-color: $white;
  }

  &.assemblies, &.ideas {
    h1.section-heading, h3, label {
      color: black;
    }

    hr {
      border-bottom: 1px solid black;
    }
  }

  &.processes, &.assemblies, &.ideas, &.create_idea {

    .floating-helper-container {
      @include breakpoint(small){
        padding: 1rem 0 1rem;
        margin-bottom: 1rem;
      }

      @include breakpoint(medium){
        width: 100%;
        padding-bottom: 45%; /* 16:9 */
        position: relative;
        margin-bottom: 2rem;

        .floating-helper__wrapper {
          position: absolute;
          top: 0; bottom: 0; left: 0; right: 0;
          display: flex;
          align-items: center;
        }
      }

      @include breakpoint(xlarge){
        padding: 10rem 0 3rem;
        margin-bottom: 3rem;
        padding-bottom: 0;

        .floating-helper__wrapper {
          position: relative;
          border: none;
        }
      }
    }

    .content-wrapper {
      max-width: 75rem;
      margin-right: auto;
      margin-left: auto;
    }

    .wrapper {
      background-color: $white;
    }

    @include breakpoint(large){
      .footer {
        margin-top: 20px;
      }
    }

    main {
      background-repeat: no-repeat;

      @include breakpoint(small){
        background-size: 100% auto;
      }

      @include breakpoint(medium){
        background-size: 100% auto;
      }

      @include breakpoint(large){
        background-size: 100% auto;
      }

      @include breakpoint(xlarge){
        background-size: 1440px auto;
      }

      @include breakpoint(xxlarge){
        background-size: 2560px auto;
      }
    }

    @include breakpoint(small){
      .wrapper {
        margin: 3px 0;
      }
    }

    @include breakpoint(medium){
      .wrapper {
        margin: 3px 0 0 0;
      }

      .footer {
        margin-top: 3px;
      }
    }

    @include breakpoint(large){
      .footer {
        margin-top: 20px;
      }
    }
  }

  &.create_idea {
    .wrapper {
      margin: 3px;
    }
  }

  &.processes, &.assemblies, &.ideas {
    &.listing {
      .wrapper {
        background-color: transparent;
        color: $white;
        margin: 0;
      }

      .with_scope_scopes_picker_filter {
        legend {
          color: $white;
          text-transform: none;
          letter-spacing: 0;
          display: none;
        }
      }
    }
  }

  &.posts, &.pages {
    .floating-helper__content {
      height: auto;
      min-height: auto;

      h2 {
        span {
          background: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }
}

.floating-helper__content {
  background-color: transparent;
  color: $black;
  border: none;
  padding: 0;

  @include breakpoint(small){
    margin-bottom: 1rem;

    p {
      font-size: 1.5rem;
      font-weight: 500;
      margin: 0;
      line-height: 2.5rem;

      span {
        padding: 0 0.4rem;
      }
    }

    p.read-more {
      margin-top: .2rem;
      font-size: 1rem;

      svg {
        height: .6rem;
        width: .6rem;
      }
    }

    h2 {
      font-family: 'Literata', sans-serif;
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: .8rem;

      span {
        padding: 0 0.4rem;
      }
    }
  }

  @include breakpoint(medium){
    max-width: 50%;
    min-height: auto;

    margin-bottom: 0;

    p {
      font-size: 1.5rem;
      font-weight: 500;
      margin: 0;
      line-height: 2.5rem;

      span {
        padding: 0 0.4rem;
      }
    }

    p.read-more {
      margin-top: .4rem;
      font-size: 1rem;

      svg {
        height: .7rem;
        width: .7rem;
      }
    }

    h2 {
      font-family: 'Literata', sans-serif;
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: .8rem;

      span {
        padding: 0 0.4rem;
      }
    }
  }

  @include breakpoint(large){
    max-width: 50%;
    margin-bottom: 3rem;

    p {
      font-size: 1.7rem;
      font-weight: 500;
      margin: 0;
      line-height: 2.5rem;

      span {
        padding: 0 0.5rem;
      }
    }

    p.read-more {
      margin-top: .4rem;
      font-size: 1.2rem;

      svg {
        height: .8rem;
        width: .8rem;
      }
    }

    h2 {
      font-family: 'Literata', sans-serif;
      font-size: 2.2rem;
      font-weight: 600;
      margin-bottom: 1rem;

      span {
        padding: 0 0.5rem;
      }
    }
  }

  @include breakpoint(xlarge){
    max-width: 50%;
    min-height: 280px;

    margin-bottom: 3rem;

    p {
      font-size: 2rem;
      font-weight: 500;
      margin: 0;
      line-height: 3rem;

      span {
        padding: 0 0.5rem;
      }
    }

    p.read-more {
      margin-top: .4rem;
      font-size: 1.2rem;

      svg {
        height: .8rem;
        width: .8rem;
      }
    }

    h2 {
      font-family: 'Literata', sans-serif;
      font-size: 2.5rem;
      font-weight: 600;
      margin-bottom: 1rem;

      span {
        padding: 0 0.5rem;
      }
    }
  }



  p, h2 {
    span {
      background: rgba(255, 255, 255, 0.8);
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
    }
  }
}

.process-header__container {
  align-items: flex-end;
  display: flex;

  @include breakpoint(small){
    padding-left: 1.5rem;
  }

  @include breakpoint(medium){
    padding-left: 2.5rem;
  }

  @include breakpoint(large){
    padding-left: 4.8rem;
  }
}
