.home-section.zukunftsprozess {
  background-color: transparent;

  .container {
    padding: 4rem 0 15rem;
    max-width: 1920px;
    margin: auto;
    background-image: url("~images/startpage_bg.png");

    background-repeat: no-repeat;
    // background-size: cover;
    background-position: center -100px;
  }


  .cta {
    margin: 5rem 2rem 0 2rem;

    h1 {
      font-family: 'Literata', sans-serif;
      font-weight: 600;
    }

    p {
      font-size: 1.6rem;
    }

    a {
      text-decoration: none;
      font-weight: 600;

      .icon.inline {
        width: 16px;
        height: 16px;
      }
    }
  }

  .blog-post {
    position: relative;
    margin: 3rem 3rem 3rem 0;

    img {
      transform: rotate(-2deg);
    }

    .teaser {
      position: absolute;
      bottom: 20px;
      right: 20px;
      z-index: 1000;

      transform: rotate(-2deg);

      background-color: $white;
      width: 45%;
      height: 35%;

      padding: .5rem;
      line-height: 1.4rem;

      font-size: 1.2rem;

      a {
        text-decoration: none;
        font-weight: 600;

        .icon.inline {
          width: 12px;
          height: 12px;
        }
      }
    }

    &:after {
      content: '';
      position: absolute;
      border: 1px solid $black;
      bottom: 0px;
      left: 0px;
      width: calc(100% - 1px);
      height: calc(100% - 1px);
    }
  }

  svg {
    display: inline;
    vertical-align: baseline;
  }

  .buttons {
    margin-top: 3em;

    a.startpage_primary_button {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 1rem 0;
      font-size: 1.5rem;
      padding-top: 3rem !important;
      padding-bottom: 3rem !important;

      &.ideas, &.processes {
        transform: rotate(-2deg) !important;
      }

      &.assemblies {
        transform: rotate(2deg);
      }

      & div.small {
        font-size: 0.9rem;
        font-weight: 500;
        margin-top: .3rem;
      }
    }
  }


}
