.home-section.zukunftsprozess {
  background-color: transparent;

  .container {
    padding: 4rem 0 15rem;
    max-width: 2560px;
    margin: auto;

    background-repeat: no-repeat;

    @include breakpoint(small) {
      background-image: url("~images/startpage_640.jpg");
      background-size: 640px auto;
      background-position: center 10px;
      padding: 0 0 2rem;

      .cta {
        margin: 2rem 2rem 0 2rem;
      }

      h1 {
        font-size: 1.4em;
      }
      p {
        font-size: 1.4em;
      }
    }

    @include breakpoint(medium) {
      background-image: url("~images/startpage_1024_new.jpg");
      background-size: 1024px auto;
      background-position: center 200px;
      padding: 4rem 0 15rem;

      .cta {
        margin: 5rem 2rem 0 2rem;
      }

      h1 {
        font-size: 1.4em;
      }
      p {
        font-size: 1.4em;
      }
    }

    @include breakpoint(large only) {
      background-image: url("~images/startpage_1200_new.jpg");
      background-size: 1200px auto;
      background-position: center 200px;
      padding: 4rem 0 15rem;

      h1 {
        font-size: 1.6em;
      }
      p {
        font-size: 1.6em;
      }
    }

    @include breakpoint(xlarge only) {
      background-image: url("~images/startpage_1440_new.jpg");
      background-size: 1440px auto;
      background-position: center 200px;
      padding: 4rem 0 15rem;

      h1 {
        font-size: 1.8em;
      }
      p {
        font-size: 1.8em;
      }
    }

    @include breakpoint(xxlarge only) {
      background-image: url("~images/startpage_2560.jpg");
      background-position: center 30px;
      background-size: 2560px auto;
      padding: 4rem 0 15rem;

      h1 {
        font-size: 1.8em;
      }
      p {
        font-size: 1.8em;
      }
    }
  }



  .cta {
    // margin: 5rem 2rem 0 2rem;

    p, h1 {
      span {
        background: rgba(255, 255, 255, 0.8);
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
      }
    }

    h1 {
      // font-size: 1.8em;
      // font-family: 'Literata', sans-serif;
      font-weight: 600;
      line-height: 1.2;

      .blue {
        color: #00b5e5;
      }

      .green {
        color: #76b82a;
      }

      .red {
        color: #de007e;
      }
    }

    p {
      line-height: 1.4;
      // font-size: 1.8em;
      margin-bottom: 0;
    }

    a {
      // text-decoration: none;
      font-weight: 600;
      font-size: 1.4rem;

      .icon.inline {
        width: 16px;
        height: 16px;
      }
    }

    // @include breakpoint(small) {
    //   h1 {
    //     font-size: 1.4em;
    //   }
    //   p {
    //     font-size: 1.4em;
    //   }
    // }

    // @include breakpoint(medium) {
    //   h1 {
    //     font-size: 1.4em;
    //   }
    //   p {
    //     font-size: 1.4em;
    //   }
    // }

    // @include breakpoint(large only) {
    //   h1 {
    //     font-size: 1.6em;
    //   }
    //   p {
    //     font-size: 1.6em;
    //   }
    // }

    // @include breakpoint(xlarge only) {
    //   h1 {
    //     font-size: 1.8em;
    //   }
    //   p {
    //     font-size: 1.8em;
    //   }
    // }

    // @include breakpoint(xxlarge only) {

    // }
  }

  .blog-post {
    display: block;
    position: relative;

    @include breakpoint(small) {
      margin: 2rem;
    }

    @include breakpoint(medium) {
      margin: 3rem 3rem 3rem 0;
    }

    img {
      transform: rotate(-2deg);
    }

    .teaser {
      position: absolute;
      bottom: 20px;
      right: 20px;
      z-index: 1000;

      transform: rotate(-2deg);

      background-color: $white;

      font-weight: 400;
      color: $black;

      .link {
        font-weight: 700;
        color: var(--secondary);

        svg {
          height: 12px;
        }
      }

      @include breakpoint(small) {
        width: 45%;
        font-size: .8rem;
        line-height: 1rem;
        padding: .3rem;
      }

      @include breakpoint(medium) {
        width: 45%;
        height: auto;
        padding: .5rem;

        font-size: .9rem;
        line-height: 1.1rem;
      }


      @include breakpoint(large) {
        width: 45%;
        padding: .5rem;

        font-size: 1.2rem;
        line-height: 1.4rem;
      }

      a {
        // text-decoration: none;
        font-weight: 600;

        .icon.inline {
          @include breakpoint(small) {
            width: 9px;
            height: 9px;
          }

          @include breakpoint(medium) {
            width: 10px;
            height: 10px;
          }


          @include breakpoint(large) {
            width: 12px;
            height: 12px;
          }

        }
      }
    }

    &:after {
      content: '';
      position: absolute;
      border: 1px solid $black;
      bottom: 0px;
      left: 0px;
      width: calc(100% - 1px);
      height: calc(100% - 1px);
    }
  }

  svg {
    display: inline;
    vertical-align: baseline;
  }

  .buttons {
    @include breakpoint(small) {
      margin: 2rem;
    }

    @include breakpoint(medium) {
      margin: 3em auto 0;
    }

    a.startpage_primary_button {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 1rem 0;
      height: 130px;

      @include breakpoint(small) {
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
        font-size: 1.5rem;
      }

      @include breakpoint(medium) {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
        font-size: 1.3rem;
      }

      @include breakpoint(large) {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
        font-size: 1.5rem;
      }

      &.ideas, &.processes {
        transform: rotate(-2deg) !important;
      }

      &.assemblies {
        transform: rotate(2deg);
      }

      & div.small {
        font-size: 0.9rem;
        font-weight: 500;
        margin-top: .3rem;
      }
    }
  }


}


.home-section.proposals {
  .card-wrapper {
    position: relative;
    padding-top: 66.66%; /* 3:2  Aspect Ratio or 75% for 4:3 */

    .card {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      background-size: cover;



      .teaser {
        position: absolute;
        bottom: 20px;
        right: 20px;
        z-index: 1000;

        transform: rotate(-2deg);

        width: 45%;
        padding: .5rem;

        background-color: $white;

        font-weight: 400;
        font-size: .9rem;
        line-height: 1.1rem;
        color: $black;

        .link {
          font-weight: 700;
          color: var(--secondary);

          svg {
            height: 12px;
          }
        }

        // @include breakpoint(small) {
        //   width: 45%;
        //   font-size: .8rem;
        //   line-height: 1rem;
        //   padding: .3rem;
        // }

        // @include breakpoint(medium) {
        //   width: 45%;
        //   height: auto;
        //   padding: .5rem;

        //   font-size: .9rem;
        //   line-height: 1.1rem;
        // }


        // @include breakpoint(large) {
        //   width: 45%;
        //   padding: .5rem;

        //   font-size: 1.2rem;
        //   line-height: 1.4rem;
        // }

        a {
          // text-decoration: none;
          font-weight: 600;

          .icon.inline {
            @include breakpoint(small) {
              width: 9px;
              height: 9px;
            }

            @include breakpoint(medium) {
              width: 10px;
              height: 10px;
            }


            @include breakpoint(large) {
              width: 12px;
              height: 12px;
            }

          }
        }
      }
    }
  }
}
