.ema-survey-modal {
  background-color: $white;

  h2 {
    font-family: 'Literata', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .ema-survey-iframe-container,
  .ema-survey-intro,
  .ema-survey-outro {
    &.hidden {
      display: none;
    }
  }

  .ema-survey-intro,
  .ema-survey-outro {
    p {
      margin: 2rem 0;
    }
  }

  .ema-survey-iframe-container {
    iframe {
      border: none;
      min-width: 100%;
      height: 600px;
      margin: 2rem 0 0;
    }

    .resizable-iframe-container {
      .loading-indicator {
        text-align: center;
        margin: 2rem 0;
      }
      iframe {
        height: auto;
      }
    }
  }

}
